{% extends 'prelogin_layout.html' %}
{% from 'form_helper.html' import displayField %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
    <h1>Get Started</h1>

    <form action="{{ url_for('index') }}" method="POST">

        {{ displayField(form.username, 'Username', autocomplete='off', autofocus=true) }}
        {{ displayField(form.password, 'Password', autocomplete='off', autofocus=true) }}
        {{ displayField(form.confirm_pswd, 'Confirm Password', autocomplete='off', autofocus=true) }}

        <div>
            {{ form.submit_button }}
        </div>

        {{ form.csrf_token }}
    </form>

{% endblock %}