{% extends 'prelogin_layout.html' %}
{% from 'form_helper.html' import displayField %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <h2>Login</h2>
    <p>Enter your username and password to start chatting!</p>

    <form action="{{ url_for('login') }}" method="POST">
        {{ displayField(form.username, 'Username', autocomplete='off', autofocus=true) }}
        {{ displayField(form.password, 'Password', autocomplete='off') }}

        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-warning">
{#            {{ form.login_btn }}#}
        </div>

        {{ form.csrf_token }}
    </form>

    <hr>

    <p>Have not registered? <a href={{url_for('index')}}>Register here</a>.</p>
{% endblock %}

